In [2]:
# import libraries 
from pyspark import SparkFiles
from pyspark.ml import Pipeline
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer,IndexToString, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf
import matplotlib.pyplot as plt
from pyspark.sql.functions import col, sum
from pyspark.sql.functions import collect_set, count
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import StringIndexer
from pyspark.sql import functions as F
from pyspark.sql.functions import split, slice, size, concat_ws, when

In [3]:
# start spark session
spark = SparkSession.builder.appName('Spark-Group1-Flights').getOrCreate()

In [4]:
# load dataset

# Replace 'your-bucket' and 'path/to/your/file.csv' with your actual GCS bucket and file path
gcs_path = "gs://msca-bdp-student-gcs/Group1/itineraries.csv"

# Read the CSV file from GCS
df = spark.read.csv(gcs_path, header=True, inferSchema=True)

# Show the DataFrame
df.show(10)

24/11/13 20:26:05 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|               legId|searchDate|flightDate|startingAirport|destinationAirport|fareBasisCode|travelDuration|elapsedDays|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|segmentsDepartureTimeEpochSeconds|segmentsDepartureTimeRaw|segmentsArrivalTimeEpochSeconds|segmentsArrivalTimeRaw|segmentsArrivalAirportCode|segmentsDepartureAirportCode| segmentsAirlineName|segmentsAirlineCode|segmentsEquipmentDescription|segmentsDurationInSeconds|segmentsDistance|segmentsCabinCode|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|9ca0e81111c683bec...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H29M|          0|         false|       false|     true|  217.67|    248.6|             9|                947|                       1650214620|    2022-04-17T12:57:...|                     1650223560|  2022-04-17T15:26:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     8940|             947|            coach|
|98685953630e772a0...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H30M|          0|         false|       false|     true|  217.67|    248.6|             4|                947|                       1650191400|    2022-04-17T06:30:...|                     1650200400|  2022-04-17T09:00:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9000|             947|            coach|
|98d90cbc32bfbb05c...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H30M|          0|         false|       false|     true|  217.67|    248.6|             9|                947|                       1650209700|    2022-04-17T11:35:...|                     1650218700|  2022-04-17T14:05:...|                       BOS|                         ATL|               Delta|                 DL|              Boeing 757-200|                     9000|             947|            coach|
|969a269d38eae583f...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H32M|          0|         false|       false|     true|  217.67|    248.6|             8|                947|                       1650218340|    2022-04-17T13:59:...|                     1650227460|  2022-04-17T16:31:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9120|             947|            coach|
|980370cf27c89b40d...|2022-04-16|2022-04-17|            ATL|               BOS|     LA0NX0MC|       PT2H34M|          0|         false|       false|     true|  217.67|    248.6|             9|                947|                       1650203940|    2022-04-17T09:59:...|                     1650213180|  2022-04-17T12:33:...|                       BOS|                         ATL|               Delta|                 DL|                 Airbus A321|                     9240|             947|            coach|
|79eda9f841e226a1e...|2022-04-16|2022-04-17|            ATL|               BOS|     VH0AUEL1|       PT2H38M|          0|         false|       false|     true|  217.67|    248.6|             7|                947|                       1650206700|    2022-04-17T10:45:...|                     1650216180|  2022-04-17T13:23:...|                       BOS|                         ATL|     JetBlue Airways|                 B6|                        null|                     9480|             947|            coach|
|9335fae376c38bb61...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT4H12M|          0|         false|       false|    false|  213.02|    251.1|             3|                956|             1650198000||16502...|    2022-04-17T08:20:...|           1650203400||16502...|  2022-04-17T09:50:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A320||Airb...|               5400||7500|        228||728|     coach||coach|
|3904bf87f2d1daf33...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H18M|          0|         false|       false|    false|  213.02|    251.1|             3|                956|             1650198000||16502...|    2022-04-17T08:20:...|           1650203400||16502...|  2022-04-17T09:50:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A320||Boei...|               5400||8280|        228||728|     coach||coach|
|d93988734c44a3c07...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT5H32M|          0|         false|       false|    false|  213.02|    251.1|             7|                956|             1650193200||16502...|    2022-04-17T07:00:...|           1650198060||16502...|  2022-04-17T08:21:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A319||Airb...|               4860||7500|        228||728|     coach||coach|
|562e7d5dd6ecbf150...|2022-04-16|2022-04-17|            ATL|               BOS|     V0AJZNN1|       PT6H38M|          0|         false|       false|    false|  213.02|    251.1|             7|                956|             1650193200||16502...|    2022-04-17T07:00:...|           1650198060||16502...|  2022-04-17T08:21:...|                  CLT||BOS|                    ATL||CLT|American Airlines...|             AA||AA|        Airbus A319||Boei...|               4860||8280|        228||728|     coach||coach|
+--------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+--------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
only showing top 10 rows

In [4]:
# Get the number of rows
num_rows = df.count()

# Get the number of columns
num_columns = len(df.columns)

# Get the shape of the DataFrame
shape = (num_rows, num_columns)

In [5]:
shape

(82138753, 27)

In [5]:
# drop columns that have duplicate or redundant information 
df = df.drop("baseFare", "isBasicEconomy", "segmentsArrivalAirportCode", "segmentsDepartureTimeEpochSeconds",
             "segmentsArrivalTimeEpochSeconds", "segmentsAirlineCode", "fareBasisCode",
            "segmentsDurationInSeconds", "segmentsDistance", "segmentsDepartureTimeRaw")

In [6]:
# see types for each column
df.printSchema()

root
 |-- legId: string (nullable = true)
 |-- searchDate: string (nullable = true)
 |-- flightDate: string (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- travelDuration: string (nullable = true)
 |-- elapsedDays: integer (nullable = true)
 |-- isRefundable: boolean (nullable = true)
 |-- isNonStop: boolean (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)
 |-- segmentsArrivalTimeRaw: string (nullable = true)
 |-- segmentsDepartureAirportCode: string (nullable = true)
 |-- segmentsAirlineName: string (nullable = true)
 |-- segmentsEquipmentDescription: string (nullable = true)
 |-- segmentsCabinCode: string (nullable = true)

In [7]:
# make a copy of data for manipulations
copy_df = df

In [8]:
# Use regexp_extract to get the days, hours, and minutes components from the duration string
# travelduration is stored in two different formats, one with Day and one with only hours, so have to handle both
temp_df = copy_df.withColumn("days", F.coalesce(F.regexp_extract("travelDuration", r"P(\d+)D", 1).cast("int"), F.lit(0)))

temp_df = temp_df.withColumn("hours", F.coalesce(F.regexp_extract("travelDuration", r"(\d+)H", 1).cast("int"), F.lit(0)))

temp_df = temp_df.withColumn("minutes", F.coalesce(F.regexp_extract("travelDuration", r"(\d+)M", 1).cast("int"), F.lit(0)))

In [9]:
# convert travelDuration column to minutes by summing total minutes from days hours and minutes 
copy_df = temp_df.withColumn(
    "travelDuration", 
    F.col("days") * 1440 + F.col("hours") * 60 + F.col("minutes")
)

In [10]:
# drop the temporary columns 
copy_df = copy_df.drop("days", "hours", "minutes")

In [11]:
# check the travelDuration column converted correctly 
copy_df.select("travelDuration").show()

+--------------+
|travelDuration|
+--------------+
|           149|
|           150|
|           150|
|           152|
|           154|
|           158|
|           252|
|           318|
|           332|
|           398|
|           286|
|           345|
|           359|
|           438|
|           490|
|           339|
|           158|
|           257|
|           276|
|           285|
+--------------+
only showing top 20 rows

In [12]:
# data cleaning on small subset of data to test that the  cleaning works 
smalldf = copy_df.limit(100).cache()

In [13]:
# convert search dates to date types
smalldf = smalldf.withColumn("searchDate", F.to_date(F.col("searchDate"), "yyyy-MM-dd"))

In [14]:
# convert flight dates to date type
smalldf = smalldf.withColumn("flightDate", F.to_date(F.col("flightDate"), "yyyy-MM-dd"))

In [15]:
# check that conversions were correct
smalldf.select("searchDate", "flightDate", "travelDuration").printSchema()

root
 |-- searchDate: date (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- travelDuration: integer (nullable = false)

In [16]:
# Calculate the number of days that passed between search and flight date
smalldf = smalldf.withColumn("DaysBeforeFlight", F.datediff(F.col("flightDate"), F.col("searchDate")))

In [17]:
# check that calculation was correct
smalldf.select("searchDate", "flightDate", "DaysPassed").show()

+----------+----------+----------+
|searchDate|flightDate|DaysPassed|
+----------+----------+----------+
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
|2022-06-24|2022-08-07|        44|
+----------+----------+----------+
only showing top 20 rows

In [18]:
# find all airports that layovers occured in and count number of layovers 
smalldf = smalldf.withColumn('Layovers', split(smalldf['segmentsDepartureAirportCode'], '\|\|'))
smalldf = smalldf.withColumn('Layovers', slice(smalldf['Layovers'], 2, 10))
smalldf = smalldf.withColumn('NumStops', size(smalldf['Layovers']))

In [19]:
# check that the columns updated correctly 
smalldf.select("segmentsDepartureAirportCode", "Layovers", "NumStops").show(10)

+----------------------------+----------+--------+
|segmentsDepartureAirportCode|  Layovers|NumStops|
+----------------------------+----------+--------+
|               LGA||ATL||SLC|[ATL, SLC]|       2|
|               LGA||ATL||LAX|[ATL, LAX]|       2|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
|                         LGA|        []|       0|
+----------------------------+----------+--------+
only showing top 10 rows

In [20]:
# drop original column
smalldf = smalldf.drop("segmentsDepartureAirportCode")

In [21]:
# find all flight companies flewn and count number of unique flights
smalldf = smalldf.withColumn('AirlineNames', split(smalldf['segmentsAirlineName'], '\|\|'))
smalldf = smalldf.withColumn('UniqueAirlineNames', F.array_distinct(F.col('AirlineNames')))
smalldf = smalldf.withColumn('NumUniqueAirlines', F.size(F.col('UniqueAirlineNames')))

In [22]:
# check that the columns updated correctly 
smalldf.select("segmentsAirlineName", "AirlineNames", "UniqueAirlineNames", "NumUniqueAirlines").show(10, truncate = False)

+-------------------+---------------------+-------------------+-----------------+
|segmentsAirlineName|AirlineNames         |UniqueAirlineNames |NumUniqueAirlines|
+-------------------+---------------------+-------------------+-----------------+
|Delta||Delta||Delta|[Delta, Delta, Delta]|[Delta]            |1                |
|Delta||Delta||Delta|[Delta, Delta, Delta]|[Delta]            |1                |
|United             |[United]             |[United]           |1                |
|United             |[United]             |[United]           |1                |
|American Airlines  |[American Airlines]  |[American Airlines]|1                |
|JetBlue Airways    |[JetBlue Airways]    |[JetBlue Airways]  |1                |
|JetBlue Airways    |[JetBlue Airways]    |[JetBlue Airways]  |1                |
|American Airlines  |[American Airlines]  |[American Airlines]|1                |
|American Airlines  |[American Airlines]  |[American Airlines]|1                |
|JetBlue Airways    |[JetBlue Airways]    |[JetBlue Airways]  |1                |
+-------------------+---------------------+-------------------+-----------------+
only showing top 10 rows

In [23]:
# drop original and temporary columns
smalldf = smalldf.drop("segmentsAirlineName", "UniqueAirlineNames")

In [24]:
# find all flight craft types flewn and count number of unique crafts  
smalldf = smalldf.withColumn('EquipmentDescriptions', split(smalldf['segmentsEquipmentDescription'], '\|\|'))
smalldf = smalldf.withColumn('UniqueEquipments', F.array_distinct(F.col('EquipmentDescriptions')))
smalldf = smalldf.withColumn('NumUniqueEquipments', F.size(F.col('UniqueEquipments')))

In [25]:
# check that the columns updated correctly 
smalldf.select("segmentsEquipmentDescription", "EquipmentDescriptions", "UniqueEquipments", "NumUniqueEquipments").show(10, truncate = False)

+---------------------------------------------------------+-----------------------------------------------------------+----------------------------------------------+-------------------+
|segmentsEquipmentDescription                             |EquipmentDescriptions                                      |UniqueEquipments                              |NumUniqueEquipments|
+---------------------------------------------------------+-----------------------------------------------------------+----------------------------------------------+-------------------+
|Airbus A321||Airbus A321||Airbus A220-100                |[Airbus A321, Airbus A321, Airbus A220-100]                |[Airbus A321, Airbus A220-100]                |2                  |
|Airbus A321||Airbus A321||Embraer 175 (Enhanced Winglets)|[Airbus A321, Airbus A321, Embraer 175 (Enhanced Winglets)]|[Airbus A321, Embraer 175 (Enhanced Winglets)]|2                  |
|Airbus A319                                              |[Airbus A319]                                              |[Airbus A319]                                 |1                  |
|Airbus A319                                              |[Airbus A319]                                              |[Airbus A319]                                 |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
|Boeing 737-800                                           |[Boeing 737-800]                                           |[Boeing 737-800]                              |1                  |
+---------------------------------------------------------+-----------------------------------------------------------+----------------------------------------------+-------------------+
only showing top 10 rows

In [26]:
# drop original and temporary columns
smalldf = smalldf.drop("segmentsEquipmentDescription", "UniqueEquipments")

In [27]:
# find all cabin types flewn and count number of unique cabins
smalldf = smalldf.withColumn('CabinCodes', split(smalldf['segmentsCabinCode'], '\|\|'))
smalldf = smalldf.withColumn('UniqueCabins', F.array_distinct(F.col('CabinCodes')))
smalldf = smalldf.withColumn('NumUniqueCabins', F.size(F.col('UniqueCabins')))

In [29]:
smalldf = smalldf.withColumn(
    "hasFirstClass", 
    F.when(F.array_contains(F.col("UniqueCabins"), "first"), 1).otherwise(0)
)

In [31]:
# check that the columns updated correctly 
smalldf.select("segmentsCabinCode", "CabinCodes", "UniqueCabins", "NumUniqueCabins", "hasFirstClass").show(10, truncate = False)

+-------------------+---------------------+------------+---------------+-------------+
|segmentsCabinCode  |CabinCodes           |UniqueCabins|NumUniqueCabins|hasFirstClass|
+-------------------+---------------------+------------+---------------+-------------+
|first||first||first|[first, first, first]|[first]     |1              |1            |
|first||first||first|[first, first, first]|[first]     |1              |1            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
|coach              |[coach]              |[coach]     |1              |0            |
+-------------------+---------------------+------------+---------------+-------------+
only showing top 10 rows

In [32]:
# drop original and temporary columns
smalldf = smalldf.drop("segmentsCabinCode", "UniqueCabins")

In [34]:
smalldf.printSchema()

root
 |-- legId: string (nullable = true)
 |-- searchDate: date (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- travelDuration: integer (nullable = false)
 |-- elapsedDays: integer (nullable = true)
 |-- isRefundable: boolean (nullable = true)
 |-- isNonStop: boolean (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)
 |-- segmentsArrivalTimeRaw: string (nullable = true)
 |-- DaysPassed: integer (nullable = true)
 |-- Layovers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumStops: integer (nullable = false)
 |-- AirlineNames: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumUniqueAirlines: integer (nullable = false)
 |-- EquipmentDescriptions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumUniqueEquipments: integer (nullable = false)
 |-- CabinCodes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- NumUniqueCabins: integer (nullable = false)
 |-- hasFirstClass: integer (nullable = false)